@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --color-main: #A306B6;
    --color-complementary: #b6ad06;
    --color-font-onbg: #f6e6f8;
    --bg-main:white;
    --bg-secondary:#D9D9D9;
    --font-title:"Montserrat";
    --font-content:"Source sans 3";
    --font-backup: sans-serif;
    --sizefont-main: 1rem
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: "Montserrat"; */
    font-family: var(--font-content), var(--font-backup);
}



img{
    display:block;
}

header{
    height: 50vh;
    background-color: var(--color-main);
    color: var(--color-font-onbg)
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: calc(var(--sizefont-main) * 5); */
    height: 25%;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav ul li {
    list-style-type: none;
}

nav a 
{
    text-decoration: none;
    color:inherit;
    font-weight: 800;
}

.logo{
    height: calc(2 * var(--sizefont-main));
    margin: calc(var(--sizefont-main) * 0.5)
}

.header-div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
}

.header-img{
    height: 50%;
}

h1{
    width:50%;
    text-align: center;
}

h2{
    text-align: center;
    color: var(--color-main);
}

.article-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:var(--sizefont-main);
    width: 90%
}

article{
    background-color: var(--bg-secondary);
}

b.article_btn{
    transition: all 1s ease-in-out 0s;
}

b.article_btn:hover{
    transform: scale(1.1);
    color:var(--color-main);
    background-color: var(--color-complementary);

}

